langchain
langgraph
llama-index-core
llama-index-readers-file
langchain-openai
llama-index-llms-openai
llama-index-llms-langchain
llama-index-experimental
nba_api
pandas
requests
python-dotenv
fastapi
uvicorn
langchain_community
tabulate
polars
openai
pydantic
pymupdf