langchain
langgraph
llama-index-core
langchain-openai
llama-index-llms-openai
llama-index-llms-langchain
llama-index-experimental
nba_api
pandas
requests
python-dotenv
fastapi
uvicorn
langchain_community
tabulate
